body {font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, black, rgb(255, 115, 0));
background-repeat: no-repeat;
background-size: cover;}

.navbar {
  
  margin-left: 10%;
  background-color:#08233b;
  overflow: auto;
  height: 75px;
  margin-top: -0.001%;
}

.navbar a {
  float: right;
  
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding-top: 22px;
  padding-bottom: 25px;
  padding-left: 14px;
  padding-right: 14px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #fcba03;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    padding-top: 15px;
  }
}
.sidebar{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    position: fixed;
    left:-250px;
    width: 250px;
    height: 67%;
    background-image: linear-gradient(to bottom, #e7ca49, #e9cb42, #ebcc3a, #eccc31, #eecd26, #e7d01c, #dfd410, #d7d700, #c2de00, #a8e400, #8aea1a, #60f031);
    transition: all .5s ease;

}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: rgb(11, 37, 58);

}
.sidebar ul a{
    display: block;
    height:100%;
    width:100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 10px;
    box-sizing:border-box;
    border-top: 1px rgba(255,255,255,.1);
    border-bottom: 1px solid black;


}
ul li:hover a{
    padding-left: 50px;

}
.sidebar ul a i{
    margin-right: 16px;

}
#check {
    display: none;

}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;

}
label #btn{
    left: 40px;
    top:130px;
    font-size: 35px;
    color: white;
    padding:6px 12px;
    transition: all .5s;
}
label #cancel{
    z-index:1111;
    left:-195px;
    top:17px;
font-size: 30px;
color:#272b2c;
padding:4px 9px;
transition: all .5s ease;
}
#check:checked ~ .sidebar
{
    left:0;
}

#check:checked ~ label #btn{
    left:250px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel{
      left:223px;
      top:125px;
      
    }

.container{
  
  background-image: url("https://i.pinimg.com/originals/94/0c/4b/940c4b297901510a3edbb86813a26450.png");
  position :absolute;
  margin-left:1200px;
  margin-top: 50px;
  box-sizing: border-box;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-style: normal;
  font-family: sans-serif;
  justify-content: center;
  width:400px;
  height: 450px;
  position: relative;

}

.form-box{
  width: 300px;
  height: 370px;
  position: relative;
  margin:6% auto;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTi53fU3-faPYR2zvpFbN0pxtQAwCgCW7u1ng&usqp=CAU");
  background-color: #fff;
  
  padding: 0px;
  padding-top: 30px;
}

.button-box{
  width:120px;
  height: 60px;
 
  margin:35px auto;
  position:relative;
  box-shadow:  0 0 20px 9px #3a4144;
  border-radius: 30px;
}
.toggle{
  padding:10px 30px;
  cursor :pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;

}

.tog{
  width:97%;
  height:94%;
  padding:10px 30px;
  cursor :pointer;
  display: block;
  margin:auto;
  background: linear-gradient(to right ,#ff106f,#ffad02);
  border: 0;
  outline: none;
  border-radius: 30px;
 
  
}

#bttn{
  left: 0;
  top:0;
  position: absolute;
  width:110px;
  height: 100%;
  background: linear-gradient(to right ,#ff106f,#ffad02);
  border-radius: 30px;
}
#btttn{
  left: 0;
  top:132px;
  position: absolute;
  width:110px;
  height: 100%;
  background: url("https://inspirationfeed.com/wp-content/uploads/2015/08/shade.png");
  border-radius: 30px;
}
.container h1{
  font-size: 30px;
  font-family: sans-serif;
  padding-top: 7px;
  position: relative;
  font-style: italic;
}
.title{
  position: absolute;
  top:50%;
  left:45%;
  transform: translate(-50%,-50%);
}


.title {
  
  color:rgba(233, 162, 10, 0.815);
  font-size:50px;
  stroke-width: 50%;
  text-shadow: #424647;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 margin-top: 11px;
  border-color: #000;
  background-repeat: no-repeat;
  width:72%;
  height: auto;
  background-position: 100%;
  size: cover ;
}

@media (min-width: 992px){
.containerr {
   
}
}
@media (min-width: 768px)
{
.containerr {
   
}
}
@media (min-width: 576px)
{
.containerr {
    
}
}

.containerr {
  background-image: url(https://img.freepik.com/free-vector/white-3d-modern-background-design_53876-88246.jpg?size=626&ext=jpg);
  width: 80%;
  padding-right: 1px;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 18px;
  margin-left: 16%;
  display: inline-block;
  align-items: center;
  text-align: center;
  float: none;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*.contain-{
width:200px;
}*/
.rc-ReasonsToBuySection .line:first-child {
margin-bottom: 10px;
display: inline-block;
float:right;
}

.rc-ReasonsToBuySection .line {
margin-bottom: 10px;
display: inline-block;
}
.rc-ReasonsToBuySection .section-title {
margin-right: 0;
margin-left: 0;
padding-right: 0;
padding-left: 0;
box-sizing: border-box;
display: inline-block;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 25px;
}
.rc-ReasonsToBuySection .line.wide {
display: flex;
display: inline-block;
}

.rc-ReasonsToBuySection .line {
margin-bottom: 20px;
display: inline-block;}
.row{
flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.rc-ReasonsToBuySection .line .section:first-child {
border-left: 0;
float: left
;
width: 25%;
}
@media (min-width: 576px){

.col-sm-4 {
 
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  float: left;
  width:25%;
}
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
position: relative;
width: 10%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
float:left;
width:25%;
}
.div{
display: inline-block;
}
.rc-ReasonsToBuySection .line .section h3 {
display:inline-block ;
min-height: 60px;
font-size: 142%;
font-weight: bold;
float: left;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, h2, h3, h4, h5, h6 {
color: #212121;
}
.rc-ReasonsToBuySection .line .section p {
font-size: 115%;
color: #4d4d4d;
display: inline-block;
float: left;
width: 25%;;
font-size: 25px;
font-family: sans-serif;
}
p{
margin-top: 0;
margin-bottom: 1rem;
}
p {
display:inline-block ;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-family: sans-serif;
}
.rc-ReasonsToBuySection .line .section {
border-left: 1px solid #d8d8d8;
box-sizing: border-box;
display: inline-block;
float: left;
width: 50%;
}
@media (min-width: 576px)
{
.col-sm-4 {
-ms-flex: 0 0 33.333333%;
flex: 0 0 33.333333%;
max-width: 33.333333%;
float: right;
width:50%;
}
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
position: relative;
width: 10%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
float: left;
width:50%;
}

.rc-ReasonsToBuySection .line .section {
border-left: 1px solid #d8d8d8;
box-sizing: border-box;
display: inline-block;
float: left;
width: 25%;
}
@media (min-width: 576px)
{
.col-sm-4 {
-ms-flex: 0 0 33.333333%;
flex: 0 0 33.333333%;
max-width: 33.333333%;
float: left;
width:25%;
}
}
.col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
position: relative;
width: 150%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
float: right;

width: 25%;}
.rc-ReasonsToBuySection .line.narrow {
display: none;
}

.rc-ReasonsToBuySection .line {
margin-bottom: 20px;
}

.row {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}
.col {
-ms-flex-preferred-size: 0;
flex-basis: 0;
-ms-flex-positive: 1;
flex-grow: 1;
max-width: 100%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
float: right;
width:25%;
}
.slider{
box-sizing: border-box;
  display: inline-block;
  height: auto;
  position: relative;
  visibility: hidden;
  width: 100%;
}
.slider-frame{
box-sizing: border-box;
  display: inline-block;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  position: relative;
  touch-action: pan-y pinch-zoom;
  transform: translate3d(0px, 0px, 0px);
}
.slider-control-centerleft{
position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  
    box-sizing: border-box;

}



.slider-control-centerright{position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);

  box-sizing: border-box;
}
.logo{
  background: url("C:\xampp\htdocs\images\yu.jpg");
  widows: 960px;
  height: 100px;
  
}
.headw{
  background-image: url("https://cdn2.vectorstock.com/i/1000x1000/68/91/luxury-seamless-black-floral-wallpaper-vector-3726891.jpg");
  background-size: cover;
  width:1200px;
  height:80px;
  padding-top: 0px;
  position: absolute;
  margin-left:255px;
 
  margin-top:0px;
 font-size: 60px;
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
  text-align: center;
  color: #d8d8d8;
}
 

  
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');








/* The footer is fixed to the bottom of the page */

.footer{
  position: static;
  bottom: 0;
}

@media (max-height:800px){
    footer { position: static; }
    header { padding-top:0px; }
}


.footer-distributed{
    background-color: #2c292f;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 22px sans-serif;
    
  margin-top: 0px;
  height:auto;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 30%;
}

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
    width: 30%;
}

.footer-distributed h3 span{
    color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 0px 0 0px;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}


.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 0px 0px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #e0ac1c;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 30%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}


@media (max-width: 880px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}

